@charset "UTF-8";

/* paleta de cores
    verde #49a09d
    lilás #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body , html {
    background-color:#5f2c82 ;
    height: 100vh;
    width:100vw;
}
main { 
    position:relative; /* para centralizar */
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute ; /* comandos para deixar o quadro no meio da tela */
    top: 50%;
    left: 50%;

    overflow:hidden; /*comando de tudo que tiver fora da borda vai ficar escondido*/
    
    background-color: white;
    width: 250px;
    height: 450px;

    border-radius:20px; /* arredondar os cantos */

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.45); /* comando para fazer sombra na volta do quadro */

    transform: translate(-50%, -50%);/* esse comando serve para puxar o quadro para cima */

    transition: width .3s, height .3s; 
    /* esse comando é pra fazer uma animação, ele muda mais rapido o aumento e diminuição da tela */

    transition-timing-function: ease ;
    /* para dar uma suavizada na animação quando passa de uma tela para outra.  */
    /* TODAS AS TRANSITION  E AS TRANSFORMATION FICAM SEMPRE NO FINAL  */
}

section#login > div#imagem {
    display: block; /* para ser exibido como um bloco padrão separado  da outra div#ormulario*/

    /* comandos para aparecer a foto */
    background:#5f2c82 url(../imagens/imagenlogin.jpg) no-repeat;
    background-size: cover;

    background-position: left bottom;/* pegar a imagem no lado esquerdo e em baixo  */

    height: 150px; /* aumenta o campo da imagem */
}

section#login > div#formulario {
    display: block; /* para ser exibido como um bloco padrão separado da outra div#imagem */

    padding: 10px;
    /* comando que bota espaço na margem do texto do formulario */

}

div#formulario > h1 {
    text-align: center; /* centraliza a  palavra login */

    margin-bottom: 10px;
}

div#formulario > p { 
    font-size: 0.8em;
   
}

form > div.campo { /* não tem necesidade de colocar width 100%  e nem display block, porque  toda div  e block e 100% */  
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 45px;
    padding: 5px;
   
}

div.campo > input {
    background-color: #94cfcd ;
    font-size: 1em;
    width: calc(100% - 50px); /* função CALC() é o calculo para que os 2 quadros encaixem dentro  do quadros de  email e senha */
  
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 15px;
    transform: translateY(-13px); /* para os 2 quadro subirem um pouco para cima para encaixar cada um dentro do seu quadro(email e senha)  . ESSE ITEM TEM QUE SER SEMPRE O ULTIMO PARA SER COLOCADO*/

}

div.campo > input:focus-within { /* serve para quando clicar na caixa para ecrever, ela vai ficar branca */
    background-color: white;

}



form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao { /* esse comando quer dizer que o link que tiver dentro da classe botão */
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color:#49a09d;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

form >a.botao:hover {

    background-color: #6cd3cf;

}

form >a.botao > i {
    font-size: 0.8em;
}